api/devops/terraform/step_functions/create_game_state_machine.json
{
  "Comment": "A Hello World example of the Amazon States Language using a Pass state",
  "StartAt": "Setup From API Gateway",
  "States": {
    "Setup From API Gateway": {
      "Type": "Pass",
      "Next": "Create Game",
      "Parameters": {
        "body.$": "States.JsonToString($)"
      }
    },
    "Create Game": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:359299993558:function:bowlme-v2-us-west-2-create-game:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Create Player",
      "ResultSelector": {
        "body.$": "$.Payload.body"
      }
    },
    "Create Player": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:359299993558:function:bowlme-v2-us-west-2-create-player:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}

